<h2>Index It's <%= Time.now%></h2>

<br>
<br>
<h2><%= link_to 'Link', welcome_say_hello_path %></h2>
<br>
<br>
<br>
<br>
<ul>
    <% @events.each do |event| %>
    <li>
    <span><%= event.name %></span>
    <%= link_to('Show',     event_show_path({:id => event.id}), {:style => 'margin-left:15px;'}) %>
    <%= link_to('Edit',     event_edit_path({:id => event.id}), {:style => 'margin-left:15px;'}) %>
    <%= link_to('Destroy',  event_destroy_path({:id => event.id}) ) %>
    </li>
    <% end %>
</ul>
<%= paginate @events %>
<br>
<%= link_to('New Event',  event_new_path, :style => 'margin-top:20px') %>
